.add-plan {
  background-color: #D4D9EB;
}

.add-plan__wrapper {
  .container();
}

.add-plan__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.add-plan__title {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 24px;
  color: @basic-blue-light;
}

.add-plan__plan-step {
  margin-bottom: 10px;
}
