.avatar {
  border-radius: 50%;

  @media (min-width: @tablet-width) {
    width: 94px;
    height: 94px;
    border-radius: 7px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 47px;
    padding-bottom: 43px;
  }
}
