.calendar__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  border-top: 1px solid #d6d9e6;
  border-bottom: 1px solid #d6d9e6;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    margin-bottom: 38px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 16px;
  }
}

.calendar__title {
  margin-top: 10px;
  margin-bottom: 12px;

  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 20px;
  color: @basic-blue-light;

  @media (min-width: @tablet-width) {
    margin-top: 25px;
    margin-bottom: 24px;

    font-size: 36px;
    line-height: 36px;
  }
}

.calendar__button {
  position: relative;
  display: flex;
  align-items: center;

  background-color: transparent;
  border: none;

  box-sizing: border-box;

  cursor: pointer;

  &:hover,
  &:focus {
    &::before,
    &::after {
      opacity: 0.5;
    }
  }

  &:active {
    &::before,
    &::after {
      opacity: 0.1;
    }
  }

  @media (min-width: @tablet-width) {
    padding-right: 30px;
    padding-left: 30px;
  }
}

.calendar__button--prev {
  padding-right: 20px;

  &::before {
    content: "";

    position: absolute;
    left: 0;
    width: 9px;
    height: 18px;

    background-image: url("../img/decor/calendar-arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    opacity: 0.3;
    transform: rotate(180deg);
  }

  @media (min-width: @tablet-width) {
    &::before {
      left: 10px;
      width: 29px;
      height: 36px;
    }
  }

  @media (min-width: @desktop-width) {
    &::before {
      left: 0;
      width: 15px;
      height: 28px;
    }
  }
}

.calendar__button--next {
  padding-right: 20px;

  &::after {
    content: "";

    position: absolute;
    right: 0;

    width: 9px;
    height: 18px;

    background-image: url("../img/decor/calendar-arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    &::after {
      right: 10px;
      width: 29px;
      height: 36px;
    }
  }

  @media (min-width: @desktop-width) {
    &::after {
      right: 0;
      width: 15px;
      height: 28px;
    }
  }
}

.calendar__table {
  border-collapse: collapse;
}

.calendar__day {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  border: 1px solid #d6d9e6;

  @media (min-width: @desktop-width) {
    width: 142px;
  }
}

.calendar__day-of-week {
  padding-bottom: 8px;

  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  color: @special-grey;

  span {
    display: none;
  }

  @media (min-width: @tablet-width) {
    font-size: 18px;
    line-height: 18px;

    span {
      display: inline;
    }
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 20px;
    padding-left: 10px;

    text-align: start;
  }
}

.calendar__day-of-week--weekend {
  color: #ff5c23;
}


.calendar__day-number {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6px;
  padding-bottom: 6px;

  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  color: @basic-blue-light;

  background-color: @basic-blue-lighten;

  cursor: pointer;

  &:hover,
  &:focus {
    &::before {
      content: "";

      position: absolute;
      z-index: 3;
      top: -2px;

      width: 100% + 6px;
      height: 100% + 6px;

      border: 2px solid #ff5c23;
    }
  }

  @media (min-width: @tablet-width) {
    padding-top: 23px;
    padding-bottom: 27px;

    font-size: 18px;
    line-height: 18px;

    &:hover,
    &:focus {
      &::before {
        border: 4px solid #ff5c23;
      }
    }
  }

  @media (min-width: @desktop-width) {
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 13px;
    padding-bottom: 39px;
    padding-left: 15px;

    font-weight: 400;

    &:hover,
    &:focus {
      &::before {
        top: -1px;
        left: 0;

        width: 100% + 2px;
        height: 100% + 2px;
      }
    }
  }
}

.calendar__day-number--coming {
  @media (min-width: @desktop-width) {
    &::after {
      content: "Заезд";
      position: absolute;

      top: 39px;
    }
  }
}

.calendar__day-number--leave {
  @media (min-width: @desktop-width) {
    &::after {
      content: "Выезд";
      position: absolute;

      top: 39px;
    }
  }
}

.calendar__day-input:checked + .calendar__day-number {
  background-color: @basic-blue-light;
  color: @basic-white;
}

.calendar__day-input:disabled + .calendar__day-number {
  color: fade(@special-grey, 30%);
  background-color: transparent;

  cursor: not-allowed;

  &::before {
    display: none;
  }
}

.calendar__month-name {
  display: none;

  @media (min-width: @desktop-width) {
    display: inline;
    white-space: pre;
  }
}
