.card-travelers {
  background-color: @basic-white;

  &:nth-of-type(2n) {
    .card-travelers__countries {
      margin-bottom: 8px;
    }
  }

  &:hover,
  &:focus {
    box-shadow: 0 4px 9px fade(@basic-black, 16%);

    .card-travelers__photo {
      transform: scale(1.1);
    }
  }

  @media (min-width: @tablet-width) {
    &:nth-of-type(2n) {
      .card-travelers__countries {
        margin-bottom: 0;
      }
    }
  }
}

.card-travelers__image {
  display: flex;
  border-radius: 50%;
  overflow: hidden;
  width: 70px;

  @media (min-width: @tablet-width) {
    grid-row-start: 1;
    grid-row-end: 4;
    margin-right: 29px;
    padding-top: 4px;

    width: 190px;
    height: 190px;
    border-radius: 20px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 58px;
    padding-top: 0;
    width: 285px;
    height: auto;

    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.card-travelers__photo {
  display: flex;
  border-radius: 50%;
  transition: 0.3s;

  @media (min-width: @tablet-width) {
    width: 190px;
    height: 190px;

    border-radius: 20px;
  }

  @media (min-width: @desktop-width) {
    width: 285px;
    height: auto;

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.card-travelers__user {
  position: absolute;
  top: 13px;
  left: 103px;

  @media (min-width: @tablet-width) {
    position: relative;
    top: auto;
    left: auto;

    grid-column-start: 2;
    grid-column-end: 4;

    grid-row-start: 1;
    grid-row-end: 2;

    padding-left: 4px;

    font-size: 30px;
    line-height: 30px;

    br {
      display: none;
    }

    &::before {
      top: 9px;
      right: 124px;
      width: 8px;
      height: 8px;
    }
  }

  @media (min-width: @desktop-width) {
    margin-top: 43px;
    margin-bottom: 23px;
  }
}

.card-travelers__name {
  position: relative;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 20px;
  color: @basic-blue-light;
  text-decoration: none;

  .activity();

  &::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 139px;

    width: 6px;
    height: 6px;

    background-color: #f97676;
    border-radius: 50%;
  }

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 30px;

    br {
      display: none;
    }

    &::before {
      top: 16px;
      right: -31px;
      left: auto;
      width: 8px;
      height: 8px;
    }
  }

  @media (min-width: @desktop-width) {
    &::before {
      top: 17px;
      right: auto;
      left: -25px;
    }
  }
}

.card-travelers__name--online {
  &::before {
    background-color: @special-green;
  }
}

.card-travelers__tags {
  grid-column-start: 1;
  grid-column-end: 3;

  grid-row-start: 2;

  margin-top: 13px;
  padding-left: 6px;


  @media (min-width: @tablet-width) {
    grid-column-start: 2;
    grid-column-end: 4;

    grid-row-start: 2;
    grid-row-end: 3;

    margin: 0;
    padding-top: 5px;
    padding-left: 7px;
  }

  @media (min-width: @desktop-width) {
    align-self: center;
    margin-bottom: 20px;
    padding-top: 0;
  }
}

.card-travelers__countries {
  grid-column-start: 1;
  grid-column-end: 3;

  margin-top: 13px;
  margin-bottom: 2px;
  padding-left: 6px;

  @media (min-width: @tablet-width) {
    grid-column-end: 5;
    grid-row-start: 5;
    margin: 0;
    padding-top: 12px;
    padding-left: 0;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
    margin-top: 50px;
    padding: 0;
  }
}

.card-travelers__transport {
  margin-bottom: 7px;

  @media (min-width: @tablet-width) {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 4;
    justify-self: center;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    grid-row-start: 3;
    align-self: end;
    justify-self: start;
    margin-bottom: 55px;
  }
}

.card-travelers__level {
  position: relative;
  justify-self: end;

  align-self: start;
  margin-top: 27px;

  width: 45px;
  height: 45px;

  &::before {
    content: "Левел:";

    position: absolute;
    top: -26px;
    left: -10px;
    z-index: 3;
    display: flex;
    justify-content: center;
    width: 64px;

    background-color: @basic-white;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    line-height: 16px;
    color: @special-grey;
    text-transform: lowercase;
  }

  @media (min-width: @tablet-width) {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    margin-top: 3px;

    width: 62px;
    height: 71px;

    &::before {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 5;
    align-self: end;
    margin-bottom: 35px;
  }
}


.card-travelers__button {
  display: flex;
  justify-content: center;
  grid-column-start: 1;
  grid-column-end: 3;

  margin-top: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;

  font-size: 17px;
  line-height: 30px;

  border-radius: 20px;

  @media (min-width: @tablet-width) {
    grid-column-start: 2;
    grid-row-start: 3;
    align-self: center;
    margin-top: 7px;
    margin-bottom: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 150px;

    font-size: 20px;
    line-height: 20px;

    border-radius: 25px;
  }

  @media (min-width: @desktop-width) {
    align-self: end;
    margin-top: 0;
    margin-bottom: 48px;
  }
}

.card-travelers__likes {
  position: absolute;
  top: 55px;
  left: 68px;

  display: flex;
  align-items: center;

  @media (min-width: @tablet-width) {
    position: relative;
    top: auto;
    left: auto;

    grid-column-start: 3;
    grid-row-start: 3;
    align-self: center;
    margin-top: 7px;
  }

  @media (min-width: @desktop-width) {
    align-self: end;
    margin-top: 0;
    margin-bottom: 48px;
  }
}
