.card-travelers {
  display: flex;
  flex-direction: column;
  width: 285px;

  background-color: @basic-white;
  border-radius: 20px;

  box-sizing: border-box;
  overflow: hidden;
}

.card-travelers__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 31px;
  padding-right: 31px;
  padding-bottom: 27px;
  padding-left: 31px;
}

.card-travelers__user {
  position: relative;

  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 22px;
  color: @basic-blue-light;

  text-decoration: none;
}
