.card-travelers {
  display: flex;
  flex-direction: column;
  width: 270px;

  background-color: @basic-white;
  border-radius: 10px;

  box-sizing: border-box;
  transition: 0.3s;

  &:hover {
    box-shadow: 0 4px 9px fade(@basic-black, 16%);
  }
}

.card-travelers__image {
  display: flex;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  overflow: hidden;
}

.card-travelers__photo {
  transition: 0.3s;

  &:hover {
    transform: scale(1.1);
  }
}

.card-travelers__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 27px;
  padding-right: 25px;
  padding-bottom: 20px;
  padding-left: 25px;
}

.card-travelers__user {
  position: relative;
  margin-bottom: 15px;

  font-weight: 700;
  font-style: normal;
  font-size: 21px;
  line-height: 21px;

  color: @basic-blue-light;

  text-decoration: none;

  &:hover,
  &:focus {
    color: fade(@basic-blue-light, 70%);
  }

  &:active {
    color: fade(@basic-blue-light, 30%);
  }

  &::before {
    @size: 6px;

    content: "";

    position: absolute;
    left: -10px;
    top: 50% - @size / 2;

    width: @size;
    height: @size;
    border-radius: 50%;

    background-color: @special-red;
  }
}

.card-travelers__user--online {
  &::before {
    background-color: @special-green;
  }
}

.card-travelers__countries {
  position: absolute;
  top: 270px - 24px / 2;
}

.card-travelers__tags {
  margin-bottom: 14px;
}

.card-travelers__level {
  position: absolute;
  top: 19px;
  left: 19px;
}
