.contacts {
  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: center;
  }
}

.contacts__link {
  position: relative;
  display: flex;
  align-items: center;

  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
  text-transform: uppercase;
  color: @basic-yellow;

  &:hover,
  &:focus {
    color: @special-yellow-dark;
  }

  &:hover path,
  &:focus path {
    fill: @special-yellow-dark;
  }

  &:active {
    color: fade(@special-yellow-dark, 30%);
  }

  &:active path {
    fill: fade(@special-yellow-dark, 30%);
  }

  @media (min-width: @tablet-width) {
    font-size: 28px;
    line-height: 28px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 110px;

    &:last-of-type {
      margin: 0;
    }
  }
}

.contacts__link--dark {
  color: @basic-blue-saturate;

  &:hover,
  &:focus {
    color: fade(@basic-blue-saturate, 60%);
  }

  &:active {
    color: fade(@basic-blue-saturate, 30%);
  }
}

.contacts__icon {
  width: 45px;
  height: 45px;
  margin-right: 16px;

  border-radius: 50%;

  @media (min-width: @tablet-width) {
    width: 68px;
    height: 68px;
    margin-right: 23px;
  }

  @media (min-width: @desktop-width) {
    width: 90px;
    height: 90px;
    margin-right: 31px;
  }
}
