.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 14px;

  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  color: @special-grey;

  border-top: 1px solid lighten(@basic-black, 95%);

  .activity();

  @media (min-width: @tablet-width) {
    padding-top: 0;

    font-size: 20px;
    line-height: 20px;

    border: none;
  }
}

.copyright__icon {
  @media (min-width: @tablet-width) {
    margin-left: 23px;
    padding-top: 10px;
  }
}
