.direction-form__user-info {
  position: relative;
  display: flex;
  padding-top: 24px;
  padding-bottom: 18px;
  width: 100%;

  &::before {
    .section-bg-mod();

    background-color: @basic-blue-lighten;
  }

  &::after {
    .section-bg-mod-bottom();

    background-color: @basic-blue-lighten;
  }

  @media (min-width: @tablet-width) {
    padding-top: 65px;
    padding-bottom: 42px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 42px;
    padding-bottom: 49px;
  }
}

.direction-form__user-plan {
  position: relative;

  padding-top: 26px;
  padding-bottom: 30px;

  .section-radius-top();

  &::after {
    .section-bg-mod-bottom();

    background-color: @special-blue-light;
  }

  @media (min-width: @tablet-width) {
    padding-top: 53px;
    padding-bottom: 75px;

    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 51px;
    padding-bottom: 65px;

    border-top-right-radius: 60px;
    border-top-left-radius: 60px;
  }
}

.direction-form__add-plan {
  padding-top: 28px;
  padding-bottom: 35px;

  .section-radius-top();

  @media (min-width: @tablet-width) {
    padding-top: 49px;
    padding-bottom: 23px;

    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 52px;
    padding-bottom: 30px;

    border-top-right-radius: 60px;
    border-top-left-radius: 60px;
  }
}
