.flag {
  position: relative;

  display: flex;
  justify-content: center;
  width: 35px;
  height: 24px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  border-radius: 5px;

  &:hover {
    .flag__tooltip {
      display: flex;
      justify-content: center;
    }
  }

  @media (min-width: @tablet-width) {
    width: 70px;
    height: 47px;
  }
}

.flag__tooltip {
  display: none;
}

.flag--small {
  width: 28px;
  height: 18px;
  border-radius: 2px;

  @media (min-width: @tablet-width) {
    width: 35px;
    height: 24px;
  }
}

.flag--mini {
  width: 35px;
  height: 24px;
}

.flag--no {
  background-image: none;
  background-color: @bg-filter-country;
}

.flag--sri-lanka {
  background-image: url("../img/decor/flag-sri-lanka.svg");
}

.flag--thailand {
  background-image: url("../img/decor/flag-thailand.svg");
}

.flag--seychelles {
  background-image: url("../img/decor/flag-seychelles.svg");
}

.flag--belgium {
  background-image: url("../img/decor/flag-belgium.svg");
}

.flag--czech {
  background-image: url("../img/decor/flag-czech.svg");
}

.flag--bosnia {
  background-image: url("../img/decor/flag-bosnia.svg");
}

.flag--usa {
  background-image: url("../img/decor/flag-usa.svg");
}

.flag--britain {
  background-image: url("../img/decor/flag-britain.svg");
}

.flag--germany {
  background-image: url("../img/decor/flag-germany.svg");
}

.flag--dominica {
  background-image: url("../img/decor/flag-dominica.jpg");
}

.flag--australia {
  background-image: url("../img/decor/flag-australia.svg");
}

.flag--france {
  background-image: url("../img/decor/flag-france.svg");
}
