.location {
  position: relative;
  background-color: @basic-yellow;

  .section-radius();

  &::before {
    .section-bg-mod();
    background-color: @basic-yellow;
  }
}

.location__wrapper {
  .container();

  @media (min-width: @tablet-width) {
    padding-right: 75px;
    padding-left: 75px;
  }
}

.location__adress-wrapper {
  display: flex;
  align-items: center;
}

.location__adress {
  width: 143px;
  margin-left: 16px;

  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: @basic-blue-light;

  @media (min-width: @tablet-width) {
    width: 100%;
    margin-left: 23px;

    font-size: 28px;
    line-height: 28px;
  }
}

.location__icon {
  width: 45px;
  height: 45px;

  @media (min-width: @tablet-width) {
    width: 68px;
    height: 68px;
  }
}

.location__button {
  margin-top: 18px;
}
