.main-nav {
  display: none;
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-nav__link {
  display: flex;
  padding-right: 4px;
  padding-left: 4px;

  font-weight: 500;
  font-style: normal;
  font-size: 30px;
  line-height: 35px;
  color: @basic-blue-saturate;
  text-decoration: none;
  text-transform: uppercase;

  overflow: hidden;

  box-sizing: border-box;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__toggle {
  display: none;
}
