.page-main__promo {
  padding-top: 21px;
}

.page-main__about {
  padding-top: 33px;
  padding-bottom: 66px;
}

.page-main__directions {
  padding-top: 71px;
  padding-bottom: 34px;
}

.page-main__travelers {
  padding-top: 68px;
  padding-bottom: 31px;
}

.page-main__registration {
  padding-top: 72px;
  padding-bottom: 29px;
}

.page-main__location {
  padding-top: 33px;
}
