.page-footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -166px;
  padding-top: 37px;
  padding-bottom: 27px;

  background-color: @basic-white;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;

  @media (min-width: @tablet-width) {
    margin-top: -121px;
    padding-bottom: 40px;
    border-top-right-radius: 60px;
    border-top-left-radius: 60px;
  }
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  .container();

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.page-footer__logo {
  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.page-footer__socials {
  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.page-footer__copyright {
  width: 100%;

  @media (min-width: @tablet-width) {
    width: auto;
  }
}
