.page-main__header {
  padding-top: 30px;
  padding-bottom: 12px;
  background-color: @bg-main-header;
}

.page-main__title {
  position: relative;
  display: inline-block;
  margin: 0;

  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  line-height: 36px;
  color: @basic-white;
  vertical-align: middle;

  &::before {
    content: "";

    position: absolute;
    bottom: -15px;

    width: 100%;
    height: 5px;
    background-color: @special-orange;
    border-radius: 4px;
  }
}

.page-main__wrapper {
  .container();
}

.page-main__promo {
  padding-top: 21px;
}

.page-main__about {
  padding-top: 33px;
  padding-bottom: 66px;
}

.page-main__directions {
  padding-top: 71px;
  padding-bottom: 34px;
}

.page-main__travelers {
  padding-top: 68px;
  padding-bottom: 31px;
}

.page-main__registration {
  padding-top: 72px;
  padding-bottom: 29px;
}

.page-main__location {
  padding-top: 33px;
}
