.page-header {
  background-color: @basic-white;
}

.page-header__wrapper {
  width: @mobile-size;
  margin-right: auto;
  margin-left: auto;
  padding-top: 28px;
  padding-right: 25px;
  padding-left: 25px;
  box-sizing: border-box;
}

.page-header__content {
  padding-bottom: 25px;
}

.page-header__main-nav {
  margin-top: 70px;
  margin-bottom: 50px;
}

.page-header__user-menu {
  margin-bottom: 50px;
}

.page-header__contacts {
  margin-bottom: 25px;
}
