.page-main__header {
  padding-top: 30px;
  padding-bottom: 12px;
  background-color: @bg-main-header;
}

.page-main__title {
  position: relative;
  display: inline-block;
  margin: 0;

  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  line-height: 36px;
  color: @basic-white;
  vertical-align: middle;

  &::before {
    content: "";

    position: absolute;
    bottom: -15px;

    width: 100%;
    height: 5px;
    background-color: @special-orange;
    border-radius: 4px;
  }
}

.page-main__button-prev {
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 20px;
  color: @basic-white;
  text-transform: uppercase;
  text-decoration: none;
  .visually-hidden();
}

.page-main__wrapper {
  .container();
}

.page-main__promo {
  padding-top: 21px;

  @media (min-width: @tablet-width) {
    padding-top: 42px;
    padding-bottom: 96px;
  }
}

.page-main__about {
  position: relative;
  z-index: 7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 31px;
  padding-bottom: 68px;

  @media (min-width: @tablet-width) {
    padding-top: 41px;
  }
}

.page-main__directions {
  z-index: 6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 68px;
  padding-bottom: 34px;

  @media (min-width: @tablet-width) {
    padding-bottom: 80px;
  }
}

.page-main__users {
  z-index: 5;
  padding-top: 68px;
  padding-bottom: 30px;

  @media (min-width: @tablet-width) {
    padding-bottom: 87px;
  }
}

.page-main__price {
  z-index: 4;
  padding-top: 51px;
  padding-bottom: 38px;

  @media (min-width: @tablet-width) {
    padding-bottom: 85px;
  }
}

.page-main__registration {
  z-index: 3;
  padding-top: 70px;
  padding-bottom: 29px;

  @media (min-width: @tablet-width) {
    padding-bottom: 60px;
  }
}

.page-main__location {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 35px;

  @media (min-width: @tablet-width) {
    padding-bottom: 84px;
  }
}

.page-main__catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: @basic-blue-lighten;
}

.page-main__filter-country {
  padding-top: 20px;
}

.page-main__map {
  position: relative;
  top: -35px;
}
