.page-header {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 28px;
  padding-bottom: 24px;

  background-color: @basic-blue;

  @media (min-width: @tablet-width) {
    padding-top: 40px;
    padding-bottom: 24px;
  }
}

.page-header--active {
  position: absolute;
  z-index: 5;

  width: 100%;

  background-color: @basic-white;

  .page-header__content {
    display: block;
  }

  .page-header__main-nav {
    display: block;
    margin-bottom: 55px;
  }

  .page-header__user-menu {
    display: flex;
  }

  .page-header__contacts {
    display: block;
  }

  .page-header__socials {
    display: block;
  }

  .logo__image--white {
    display: none;
  }

  .logo__image--dark {
    display: block;
  }

  .page-header__toggle {
    top: 0;

    &::before {
      background-color: #cccccc;
      transform: rotate(45deg);
    }

    &::after {
      bottom: 13px;

      background-color: #cccccc;
      transform: rotate(-45deg);
    }
  }

  .user-menu__link {
    display: none;
  }

  .user-menu__login {
    padding-top: 9px;
    padding-bottom: 11px;
  }

  @media (min-width: @tablet-width) {
    padding-top: 40px;

    .page-header__content {
      display: flex;
      flex-wrap: wrap;
    }

    .page-header__toggle {
      top: 16px;
    }

    .page-header__main-nav {
      order: 1;
      margin-top: 90px;
      margin-bottom: 133px;
      padding-left: 53px;
      width: 100%;
    }

    .main-nav__list {
      align-items: flex-start;
    }

    .main-nav__link {
      font-size: 60px;
      line-height: 71px;
    }

    .page-header__contacts {
      order: 1;
      margin-bottom: 112px;
      padding-left: 57px;
      width: 100%;
    }

    .page-header__socials {
      order: 1;
      padding-left: 57px;
    }

    .socials__icon--facebook {
      width: 14px;
      height: 28px;
    }

    .socials__icon--vkontakte {
      width: 31px;
      height: 16px;
    }

    .socials__icon--instagram {
      width: 24px;
      height: 24px;
    }

    .user-menu__login {
      padding-top: 16px;
      padding-bottom: 14px;
    }
  }
}

.page-header__toggle {
  position: absolute;
  right: 0;

  display: flex;
  justify-content: center;

  width: 30px;
  height: 21px;

  background-color: transparent;
  border: none;

  cursor: pointer;

  @media (min-width: @tablet-width) {
    top: auto;
    bottom: auto;
    left: 0;
    margin: auto;
  }

  &::before {
    content: "";
    position: absolute;
    top: 5px;

    width: 25px;
    height: 3px;

    background-color: @basic-white;
    border-radius: 2px;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 5px;

    width: 25px;
    height: 3px;

    background-color: @basic-white;
    border-radius: 2px;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.page-header__wrapper {
  .container();
}

.page-header__content {
  position: relative;
  display: flex;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    justify-content: flex-start;
  }
}


.page-header__main-nav {
  margin-top: 70px;
  margin-bottom: 50px;

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.page-header__user-menu {
  display: none;
  align-items: center;
  margin-bottom: 50px;

  @media (min-width: @tablet-width) {
    display: flex;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    margin-left: auto;
  }
}

.page-header__contacts {
  display: none;
  margin-bottom: 31px;
}

.page-header__socials {
  display: none;
}
