.plan-step {
  padding-top: 22px;
  padding-right: 25px;
  padding-bottom: 10px;
  padding-left: 25px;

  background-color: @basic-white;
  border-radius: 10px;

  @media (min-width: @tablet-width) {
    padding-top: 43px;
    padding-right: 40px;
    padding-bottom: 54px;
    padding-left: 40px;

    border-radius: 30px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 97px;
    padding-right: 160px;
    padding-bottom: 106px;
    padding-left: 160px;

    border-radius: 60px;
  }
}

.plan-step--2 {
  br {
    display: none;
  }

  @media (min-width: @tablet-width) {
    br {
      display: inline;
    }
  }
}

.plan-step__title {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 16px;

  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 20px;
  color: @basic-blue-light;

  @media (min-width: @tablet-width) {
    margin-bottom: 38px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    margin-bottom: 35px;
  }
}

.plan-step__number {
  @media (min-width: @desktop-width) {
    margin-right: 12px;
  }
}

.plan-step__text {
  margin-bottom: 6px;

  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  color: @special-grey;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 34px;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 56px;
  }
}

.plan-step__input-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 21px;
  padding-bottom: 28px;

  @media (min-width: @tablet-width) {
    margin-top: 39px;
    padding-bottom: 38px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 80px;
    row-gap: 12px;
    justify-content: space-between;
    margin-top: 56px;
    padding-top: 29px;
    padding-bottom: 31px;

    border-top: 1px solid @stroke-price-color;
  }
}

.plan-step__checkbox {
  position: relative;
  display: flex;
  order: 1;
  align-items: center;
  margin-top: 7px;
  padding-left: 39px;

  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 15px;
  color: @basic-blue-light;

  &::before {
    content: "";
    position: absolute;

    width: 26px;
    height: 26px;
    left: 0;

    border: 1px solid @basic-border-input;
    border-radius: 4px;
  }

  &::after {
    content: "";
    position: absolute;
    left: 6px;
    width: 13px;
    height: 13px;

    display: none;

    background-image: url("../img/decor/check-mark-icon.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &:hover,
  &:focus {
    &::before {
      border-color: @hover-border-input;
    }
  }

  &:active {
    &::before {
      border-color: #e2e5f1;
      background-color: #e2e5f1;
    }

    &::after {
      opacity: 0.3;
    }
  }

  @media (min-width: @tablet-width) {
    order: 0;
    margin-top: 11px;
    margin-bottom: 36px;
    padding-left: 58px;

    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.1em;

    text-transform: uppercase;

    &::before {
      content: "";
      position: absolute;

      width: 36px;
      height: 36px;
      left: 0;

      border: 1px solid @basic-border-input;
      border-radius: 4px;
    }

    &::after {
      left: 9px;
      width: 18px;
      height: 17px;
    }
  }

  @media (min-width: @desktop-width) {
    justify-self: end;
    margin: 0;
  }
}

.plan-step__input-checkbox:checked + .plan-step__checkbox {
  &::after {
    display: block;
  }
}

.plan-step__calendar {
  margin-bottom: 24px;

  @media (min-width: @tablet-width) {
    margin-bottom: 48px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 58px;
  }
}

.plane-step__button-prev {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-style: normal;
  font-size: 17px;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: @basic-blue-light;
  text-transform: uppercase;
  text-decoration: none;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    font-size: 24px;
    line-height: 22px;
    text-transform: none;

    &::before {
      content: "";

      position: absolute;
      left: -36px;
      width: 14px;
      height: 16px;

      background-image: url("../img/decor/polygon-1.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      transform: rotate(180deg);
    }
  }
}

.plan-step__select-country {
  position: relative;
  margin-top: 19px;
  margin-bottom: 24px;

  &::before {
    content: "";
    position: absolute;
    top: 0;

    width: 100%;
    height: 1px;

    background-color: @stroke-price-color;
  }


  @media (min-width: @tablet-width) {
    margin-top: 32px;
    margin-bottom: 50px;
    padding-top: 44px;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 139px;

      width: 1px;
      height: 130%;

      background-image: linear-gradient(180deg, @stroke-price-color 36%, fade(@stroke-price-color, 0%));
    }
  }

  @media (min-width: @desktop-width) {
    margin-top: 56px;
    margin-bottom: 58px;
    padding-top: 63px;

    &::after {
      right: 225px;
    }
  }
}

.plan-step__country-activity {
  margin-top: 21px;
  margin-bottom: 23px;

  @media (min-width: @tablet-width) {
    margin-top: 14px;
    margin-bottom: 12px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
  }
}

.plan-step__buttons-wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 44px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 57px;
  }
}

.plan-step__button {
  margin-bottom: 12px;

  @media (min-width: @tablet-width) {
    width: 284px;
    margin-bottom: 0;

    .button-big();

    &::before {
      right: 34px;
    }
  }
}
