.promo {
  background-color: @basic-blue;
}

.promo__wrapper {
  width: @mobile-size;
  margin-right: auto;
  margin-left: auto;
  padding-right: 25px;
  padding-left: 25px;
  box-sizing: border-box;
}

.promo__title {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  line-height: 40px;
  color: @basic-white;
  text-align: center;
}

.promo__image {
  display: flex;
  justify-content: flex-end;
  padding-right: 25px;
  background-image: url("../img/globe-back-mobile-1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.promo__user-menu {
  position: relative;
  bottom: 20px;
}

.promo__reviews {
  margin-bottom: 29px;
}

.promo__steps {
  padding-bottom: 12px;
}
