.section__title {
  margin: 0;
  padding-left: 25px;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 24px;
  color: @special-orange;
}

.section__text {
  padding-left: 25px;
  padding-right: 25px;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  color: @basic-white;

  &--accent {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
  }

  &--dark {
    color: @special-grey;
  }
}

.section__new-stroke {
  display: block;
}
