.steps__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.steps__item {
  @bottom-offset: 9px;

  position: relative;
  display: flex;
  width: 100%;
  min-height: 80px + @bottom-offset;

  padding-top: 22px;
  padding-right: 21px;
  padding-bottom: 22px;
  padding-left: 25px;

  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 18px;
  color: @basic-blue;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  box-sizing: border-box;

  &::before {
    position: absolute;
    right: 21px;
    color: @basic-white;
  }

  &:nth-child(1) {
    background-color: @special-orange;

    &::before {
      content: "1";
    }
  }

  &:nth-child(2) {
    bottom: @bottom-offset;
    background-color: spin(@special-orange, 7);

    &::before {
      content: "2";
    }
  }

  &:nth-child(3) {
    bottom: @bottom-offset * 2;
    background-color: spin(@special-orange, 14);

    &::before {
      content: "3";
    }
  }

  &:nth-child(4) {
    min-height: 80px;
    bottom: @bottom-offset * 3;
    background-color: spin(@special-orange, 20);
    border-radius: 10px;

    &::before {
      content: "4";
    }
  }

  @media (min-width: @tablet-width) {
    width: 50%;
    min-height: 140px;
    padding-top: 31px;
    padding-left: 32px;

    font-size: 24px;
    line-height: 24px;

    border-radius: 0;

    &::before {
      position: absolute;
      left: 32px;
      bottom: 21px;

      font-size: 30px;
      line-height: 30px;

      color: @basic-white;
    }

    &:nth-child(1) {

      border-top-left-radius: 20px;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: -20px;

        width: 20px;
        height: 100%;

        background-color: @special-orange;
      }

      &::before {
        content: "1";
      }
    }

    &:nth-child(2) {
      bottom: 0;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
    }

    &:nth-child(3) {
      bottom: 0;
      border-bottom-left-radius: 20px;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: -20px;

        width: 20px;
        height: 100%;

        background-color: spin(@special-orange, 14);
      }
    }

    &:nth-child(4) {
      bottom: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;
    }
  }
}
