.transport__title {
  position: relative;

  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 16px;
  color: @special-grey;
  text-transform: lowercase;

  &::before {
    content: "";

    position: absolute;
    top: 8px;
    left: -20px;

    width: 15px;
    height: 1px;

    background-color: @basic-blue-lighten;
  }

  &::after {
    content: "";

    position: absolute;
    top: 8px;
    right: -119px;

    width: 168px;
    height: 1px;

    background-color: @basic-blue-lighten;
  }
}

.transport__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.transport__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 32px;
  height: 32px;
  margin-right: 1px;
  background-color: @basic-blue-lighten;
  border-radius: 50%;

  &:last-child {
    margin-right: 0;
  }

  &:hover .transport__tooltip {
    display: flex;
    justify-content: center;
  }
}

.transport__item--bg-transparent {
  background-color: transparent;
}

.transport__icon {
  fill: fade(@basic-blue-light, 15%);
}

.transport__item--active .transport__icon {
  fill: @basic-blue-light;
}

.transport__tooltip {
  display: none;
}

.transport__label {
  background-color: @basic-white;

  cursor: pointer;

  .transport__icon {
    fill: #d9d9d9;
  }

  &:hover,
  &:focus {
    box-shadow: 0 2px 6px fade(@basic-blue, 17%);

    .transport__icon {
      fill: #b2b2b2;
    }
  }

  &:active {
    background-color: #e2e5f1;
  }

  @media (min-width: @tablet-width) {
    width: 43px;
    height: 44px;
    margin-right: 0;

    .transport__icon {
      width: 22px;
      height: 23px;
    }
  }
}

.transport__input-checkbox:checked + .transport__item .transport__icon {
  fill: @basic-blue-light;
}

.transport__input-checkbox:checked + .user-info__label:hover .transport__icon,
.transport__input-checkbox:checked + .user-info__label:focus .transport__icon {
  fill: fade(@basic-blue-light, 70%);
}

.transport__input-checkbox:checked + .user-info__label:active .transport__icon {
  fill: fade(@basic-blue-light, 30%);
}
