.travelers {
  background-color: @basic-blue-saturate;
}

.travelers__wrapper  {
  .container();
}

.travelers__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 54px;
  margin-right: 0;
  margin-bottom: 11px;
  margin-left: 0;
  padding: 0;

  list-style: none;
}

.travelers__item {
  position: relative;
  margin-bottom: 9px;
}
