.user-plan {
  background-color: @special-blue-light;
}
.user-plan__wrapper {
  .container();
}

.user-plan__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 24px;
  color: @basic-blue-light;
}

.user-plan__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.user-plan__item {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}
