.container() {
  width: 320px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 25px;
  padding-left: 25px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    min-width: 768px;
    padding-right: 40px;
    padding-left: 40px;
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
    padding-right: 60px;
    padding-left: 60px;
  }
}

.visualy-hidden() {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.activity() {
  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.section-title() {
  margin-top: 0;
  padding-left: 25px;

  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 24px;
  color: @special-orange;

  @media (min-width: @tablet-width) {
    padding-left: 0;

    font-size: 45px;
    line-height: 45px;
  }
}

.section-text() {
  padding-right: 0;
  padding-left: 25px;

  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  color: @basic-white;

  @media (min-width: @tablet-width) {
    padding-left: 0;

    font-size: 28px;
    line-height: 33px;
  }

  @media (min-width: @desktop-width) {
    line-height: 34px;
  }
}

.section-text-accent() {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;

  @media (min-width: @tablet-width) {
    font-size: 21px;
    line-height: 25px;
  }

  @media (min-width: @desktop-width) {
    line-height: 24px;
  }
}

.new-stroke() {
  display: block;

  @media (min-width: @tablet-width) {
    display: inline;
    vertical-align: top;
  }
}

.section-radius() {
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;

  @media (min-width: @tablet-width) {
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
  }
}

.section-radius-top() {
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;

  @media (min-width: @tablet-width) {
    border-top-right-radius: 60px;
    border-top-left-radius: 60px;
  }
}

.section-bg-mod() {
  content: "";
  position: absolute;
  z-index: -1;
  top: -30px;

  width: 100%;
  height: 30px;

  @media (min-width: @tablet-width) {
    top: -60px;
    height: 60px;
  }
}

.section-bg-mod-bottom() {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: -30px;

  width: 100%;
  height: 30px;

  @media (min-width: @tablet-width) {
    bottom: -60px;
    height: 60px;
  }
}

.button-big() {
  position: relative;
  justify-content: flex-start;
  min-width: 60px;

  padding-top: 22px;
  padding-right: 23px;
  padding-bottom: 22px;
  padding-left: 25px;

  font-size: 18px;
  line-height: 18px;
  text-transform: unset;

  border-radius: 10px;

  &::before {
    content: "";

    position: absolute;
    right: 20px;
    width: 14px;
    height: 16px;

    background-image: url("../img/decor/polygon-1.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &:active::before {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    padding-top: 28px;
    padding-right: 32px;
    padding-bottom: 28px;
    padding-left: 32px;

    font-size: 24px;
    line-height: 24px;

    border-radius: 20px;
  }
}
