@basic-white: #ffffff;
@basic-black: #000000;
@basic-blue: #161C35;
@basic-blue-saturate: #192144;
@basic-blue-light: #1D2E5B;
@bg-tooltip: #101D41;
@basic-blue-lighten: #EDEFF6;
@blue-lighten: #F3F4F8;
@basic-yellow: #FFD74B;
@special-yellow-dark: #FFBD30;
@special-blue-light: #DFE3F0;
@special-grey: #444444;
@special-red: #F47E7E;
@special-orange: #FF8D30;
@special-orange-light: #F26926;
@special-green: #81E31E;
@bg-price: #E6E8F1;
@stroke-price-color: #e1e3e9;
@link-price-color: #132576;
@bg-contacts-icon: #121936;
@bg-main-header: #182044;
@basic-border-input: #CBCED9;
@hover-border-input: #959BB2;

